body {
  background-color: darkcyan;
    font-size: 15pt;
}
.p{
  color: white;
  margin-top: 150px;
  text-align: center;
  font-size: 100px;
}
.h1{
  font-family:courier;
  background-color: blue;
  border-radius: 15px;
  color:white;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  font-size: 200px;
}
.j{
  text-align: center;
text-decoration: none;
color:black;
border: solid black 1px;
border-color: black;
border-top: 30px;
border-bottom: 30px;
background-color: white;
border-radius:10px;

}